<style>
    #footer .container .copyright {
        text-align: left !important;
        display: flex;
        align-content: center;
        align-items: center;
    }
    #footer .container .copyright .slogan {
        display: flex;
        flex-direction: column;
        padding-left: 8px;
    }
    .copyright img {
        width: 50px;
    }

</style>

<footer id="footer">
    <div class="container">
        <div class="copyright">
            <img src="/img/219px-Definition_of_Free_Cultural_Works_logo_notext.svg.png" alt="Open Culture logo"/>
            <div class="slogan">
                <strong><span>Learning Community</span></strong>
                Free Content, Open Knowledge
            </div>
        </div>
    </div>
</footer>
